@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: 1px solid rgb(129, 82, 161);
} */

:root {
  --neon-color: 254, 89%, 70%;
}

@layer base {
  :root {
    --background: hsl(260, 43%, 2%);
    --foreground: hsl(210 40% 98%);
    --card: hsl(222.2 84% 4.9%);
    --card-foreground: hsl(210 40% 98%);
    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: hsl(210 40% 98%);
    --primary: hsl(var(--neon-color));
    --primary-foreground: hsl(222.2 47.4% 11.2%);
    --secondary: hsl(254, 89%, 70%);
    --secondary-foreground: hsl(210 40% 98%);
    --muted: hsl(219, 32%, 9%) --muted-foreground: hsl(215 20.2% 65.1%);
    --accent: hsl(254, 48%, 25%);
    --accent-foreground: hsl(210 40% 98%);
    --destructive: hsl(348, 77%, 52%);
    --destructive-foreground: hsl(210 40% 98%);
    --border: hsl(254, 48%, 25%);
    --input: hsl(254, 48%, 25%);
    --ring: hsl(var(--neon-color));
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    background-color: #100c1d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='99' height='99' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%230e0a1c' fill-opacity='0.45'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.45'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  }
}

/*-- Sign Styles --*/
.sign {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    font-size: 2.5rem;
    text-align: center;
    line-height: 1;
    color: white;
    animation: neon 0.08s ease-in-out infinite alternate;
  }
}

/*-- Animation Keyframes --*/
@keyframes neon {
  from {
    text-shadow:
      0 0 6px hsl(var(--neon-color), 92%),
      0 0 30px hsl(var(--neon-color), 34%),
      0 0 12px hsl(var(--neon-color), 52%),
      0 0 21px hsl(var(--neon-color), 92%),
      0 0 34px hsl(var(--neon-color), 78%),
      0 0 54px hsl(var(--neon-color), 92%);
  }
  to {
    text-shadow:
      0 0 6px hsl(var(--neon-color), 98%),
      0 0 30px hsl(var(--neon-color), 42%),
      0 0 12px hsl(var(--neon-color), 58%),
      0 0 22px hsl(var(--neon-color), 84%),
      0 0 38px hsl(var(--neon-color), 88%),
      0 0 60px hsl(var(--neon-color), 92%);
  }
}

/* Link */
.link {
  color: #828282;
  text-decoration: none;

  &:focus,
  &:hover {
    color: #c6e2ff;
    text-shadow:
      0 0 2px hsl(var(--neon-color), 92%),
      0 0 10px hsl(var(--neon-color), 34%),
      0 0 4px hsl(var(--neon-color), 52%),
      0 0 7px hsl(var(--neon-color), 92%),
      0 0 11px hsl(var(--neon-color), 78%),
      0 0 16px hsl(var(--neon-color), 92%);
  }
}

/* Frames */

.frame {
  --s: 10px; /* control the size */
  padding: var(--s);
  border: calc(2 * var(--s)) solid #ffffff00;
  outline: 1px solid hsl(var(--neon-color), 60%);
  outline-offset: calc(-1 * var(--s));
  background: conic-gradient(
    from 90deg at 1px 1px,
    #ffffff00 25%,
    hsl(var(--neon-color), 40%) 0
  );
}

/* Loader */

.loader {
  width: 48px;
  height: 48px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: hsl(var(--neon-color));
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
